[submodule "SCP-firmware"]
	path = SCP-firmware
	url = https://github.com/linaro-swg/SCP-firmware.git
[submodule "build"]
	path = build
	url = https://github.com/OP-TEE/build.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "hafnium"]
	path = hafnium
	url = https://github.com/TF-Hafnium/hafnium.git
[submodule "linux"]
	path = linux
	url = https://github.com/linaro-swg/linux.git
[submodule "linux-arm-ffa-user"]
	path = linux-arm-ffa-user
	url = https://github.com/linaro-swg/linux-trusted-services.git
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "ms-tpm-20-ref"]
	path = ms-tpm-20-ref
	url = https://github.com/microsoft/ms-tpm-20-ref.git
[submodule "optee_client"]
	path = optee_client
	url = https://github.com/OP-TEE/optee_client.git
[submodule "optee_examples"]
	path = optee_examples
	url = https://github.com/linaro-swg/optee_examples.git
[submodule "optee_ftpm"]
	path = optee_ftpm
	url = https://github.com/OP-TEE/optee_ftpm.git
[submodule "optee_os"]
	path = optee_os
	url = https://github.com/OP-TEE/optee_os.git
[submodule "optee_rust"]
	path = optee_rust
	url = https://github.com/apache/teaclave-trustzone-sdk.git
[submodule "optee_test"]
	path = optee_test
	url = https://github.com/OP-TEE/optee_test.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu.git
[submodule "trusted-firmware-a"]
	path = trusted-firmware-a
	url = https://github.com/TrustedFirmware-A/trusted-firmware-a.git
[submodule "trusted-services"]
	path = trusted-services
	url = https://git.trustedfirmware.org/TS/trusted-services.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/u-boot/u-boot.git
[submodule "xen"]
	path = xen
	url = https://github.com/xen-project/xen.git
